# ===========================
# =====   APPLICATION   =====
# ===========================

# usual values 'local', 'debug', 'production' (default: 'production')
NODE_ENV=local
# https://stackoverflow.com/questions/8083410/how-can-i-set-the-default-timezone-in-node-js
TZ=UTC


# ======================
# =====   PRISMA   =====
# ======================
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="sqlserver://127.0.0.1:31433;database=segrecanti;user=segrecanti;password=myStrong(!)Password;trustServerCertificate=true"
# Needs to "include at least 8 characters of at least three of these four categories: uppercase letters, lowercase letters, numbers and non-alphanumeric symbols."
# see https://hub.docker.com/_/microsoft-mssql-server
DATABASE_PWD="myStrong(!)Password"

# ==============================
# =====   DOCKER-COMPOSE   =====
# ==============================

COMPOSE_TAG_SQLSERVER=2022-latest
COMPOSE_PORT_SQLSERVER=31433